/*
 * Empty Stylesheet file.
 */

#PANE {
    -fx-background-image:url(/resources/image/verify.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100% 100%;
    
}
#U_FIELD, #P_FIELD {
    -fx-background-radius:30;
    -fx-border-radius:30;
    -fx-border-color:red;
    -fx-border-width:2px;
}

#U_LABEL, #P_LABEL {
    -fx-font-weight: bold;
}
